<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>We charged your credit card for $</p>
    <p>You have ordered {{order.quantity_ordered}} items so far and spent {{order.total_price}} with Amadon.com! In total you have spent {{total_spent}} >:)))</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>