<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <style>
        button{
            display: inline-block; 
        }
    </style>
</head>
<body>
    <h1>Counter</h1>
    <p>Total visits: {{visits}}</p>
    <p>Total actual visits: {{ actual }} </p>
    <div class="buttons">
            <a class="btn btn-warning" href="/add_two_visits">Add 2 Visits</a>
            <a class="btn btn-danger" href="/destroy_session">Reset</a>
    </div>
    
    <form action = "/increment" method = "post" >
        <label for = 'increment_num'>Specify the number you want to increment the visit by: </label>
        <input type = 'text' id ='increment_num' name = 'increment_num'>
        <input type = 'submit' value = "Submit">
    </form>
</body>
</html>