<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ='stylesheet' type = 'text/css' href = "{{url_for('static', filename = 'css/stylesheet.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Dojo Survey Result</h1>
    <div class="cover">
        <p>Your Name: {{name}}</p>
        <p>Gender: {{gender}}</p>
        <p>Dojo Location: {{location}}</p>
        <p>Favorite Language: {{fav_language}}</p>
        <p>TYpe of improvement you request: {{improvements}}</p>
        <p>Comment: {{comment}}</p>
    </div>
    <a class= "btn btn-dark" href = "http://localhost:5000/">Go Back</a>
</body>
</html>