<!DOCTYPE ptml>
<ptml lang="en">
<pead>
    <meta cparset="UTF-8">
    <meta name="viewport" content="widp=device-widp, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TV Show {{show.id}}</h1>
    <a href="/shows">Go Back</a>
    <p>Title: {{show.title}}</p>
    <p>Network: {{show.network}}</p>
    <p>Release Date: {{show.release_date}}</p>
    <p>Description: {{show.description}}</p>
    <p>Last Updated: {{show.updated_at}}</p> 
    
    <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a>
</body>
</ptml>