<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NINJA GOLD</h1>
    <p>Your Gold: {{request.session.gold}}</p>
    <p>Added/ Lost Gold: {{request.session.addition}}</p>

    {% if not request.session.goal  %}
    <form action="/rules" method="post"> 
        {% csrf_token %}
        <label for = "moves"># of Moves (Limit): </label>
        <input type="text" id = "moves" name="moves">

        <label for = "goal"># of Golds (Goal): </label>
        <input type="text" id = "goal" name="goal">
        <input type="submit" value="Set this as win condition">
    </form>
    {% endif %}

    {% if request.session.attempts < request.session.moves %}
    <!-- <form action="/process_money" method = "post"> -->
    <form action="/farm" method = "get">
        {% csrf_token %}
        <h2>Farm</h2>
        <p>(Earns 10-20 golds)</p>
        <input type="hidden" name="which_form" value="farm">
        <input type="submit" value="Find Gold!">
    </form>

    <!-- <form action="/process_money" method = "post"> -->
    <form action="/cave" method = "get">
        {% csrf_token %}
        <h2>Cave</h2>
        <p>(Earns 5-10 golds)</p>
        <input type="hidden" name="which_form" value="cave">
        <input type="submit" value="Find Gold!">
    </form>
        
    <!-- <form action="/process_money" method = "post"> -->
    <form action="/house" method = "get">
        {% csrf_token %}
        <h2>House</h2>
        <p>(Earns 2-5 golds)</p>
        <input type="hidden" name="which_form" value="house">
        <input type="submit" value="Find Gold!">
    </form>

    <!-- <form action="/process_money" method = "post"> -->
    <form action="/casino" method = "get">
        {% csrf_token %}
        <h2>Casino</h2>
        <p>(Earns/takes 0-50 golds)</p>
        <input type="hidden" name="which_form" value="casino">
        <input type="submit" value="Find Gold!">
    </form>

    {%else %}
        {% if request.session.gold >= request.session.goal %}
            <p>YAY you achieved your goal of {{request.session.goal}} ! You WIN !</p>
        {% endif %}
    
        {% if request.session.gold < request.session.goal %}
            <p>Oh no you did NOT reach your goal of {{request.session.goal}} ! You LOSE !</p>
        {% endif %}

    {% endif %}

    <p>Activities: </p>
    <p>{{request.session.activities}}</p>
</body>
</html>