<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .kareshi {
            color:blue;
            font-size:300px;
            animation: example 4s infinite;
        }
        @keyframes example {
            0%{
                color:blue;
                font-size:300px;

            }
            25%{
                color:red;

            }
            50%{
                color:green;
                font-size:10px;
            }
            75%{
                color:purple;

            }
            100%{
                color:blue;
                font-size:300px;


            }
        }
    </style>
</head>
<body>
    <p class="kareshi">
        Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's
        Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's
        name Akimi's Boyfriend's name Akimi's Boyfriend's name Akimi's Boyfriend's name

    </p>
</body>
</html>